

.coffee-machine{


}
.coffee-machine img{
    max-width: 100%;
    height: auto;
}
.coffee-machine button{

    margin-top: 2em;
}


.coffee-machine.animating img{


    animation: shaking 0.25s infinite ease;
   
}
.coffee-machine.animating-shaking img{


    animation: shaking 0.25s infinite ease;
   
}
.coffee-machine.animating-zooming img{


    animation: zooming 0.25s infinite ease;
   
}

@keyframes shaking {
    0%{
        transform: rotate(0deg);
    } 
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }    

} 
@keyframes zooming {
    0%{
        transform: scale(1);
    } 
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }    

} 
